.pswp__dynamic-caption::first-line {
    font-size: x-large;
    font-weight: bold;
}

.pswp__dynamic-caption {
    white-space: pre-line;
    /* This is here so the description in the light box respect the new lines */
    font-size: larger;
}

.pswp__button--download-button {
    display: none;
}

hgroup {
    margin-bottom: 1em;
    max-width: 1240px;
}

.home-image-container-outer {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image-container {
    margin: 30px;
}

.home-image-container img {
    width: 100%;
    /* max-width: 700px; */
    height: auto;
    display: block;
    object-fit: contain;
}

.home-intro-text {
    font-size: 1.1em;
    white-space: pre-line;
}

.prose h1 {
    font-size: 1.75rem;
    font-weight: 500;
}

.custom-footer {
    white-space: pre-line;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    text-wrap: balance;
}