{{ if .Title }}
<hgroup>
    <h1>{{ .Title }}</h1>
    {{ with .Params.Description }}
    <p class="home-intro-text">{{ . }}</p>
    {{ end }}
</hgroup>
{{ else }}
{{ if .Params.title_image }}
<hgroup>
    <img src="{{ .Params.title_image | relURL }}" alt="">
    {{ with .Params.Description }}
    <p class="home-intro-text">{{ . }}</p>
    {{ end }}
    <p class="home-intro-banner">Besuchen Sie mich am 12. September 2026 am Kunstmarkt in Rothenburg.
        Weitere Informationen dazu finden Sie auf dieser <a href="actual" class="home-intro-banner-link">Seite</a>.
        Ich freue mich.
    </p>
</hgroup>
{{ end }}
{{ end }}